<header class="header">
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header one-mdm-header">
        <p class="navbar-text"><%= __("app-title") %></p>
      </div>
      <% if(req.user) { %>
        <div class="logout">
          <a href="/settings">Settings</a>
          <a href="/logout">Sign out</a>
        </div> 
      <% } %>
    </div>
  </nav>
</header>