<section class="sidebar">
   <div class="list-group sidebar-links">
     <a href="/device" class="list-group-item button-link">
       <span>Devices</span>
     </a>
     <a href="/script" class="list-group-item button-link">
       <span>Scripts</span>
     </a>
   </div>
</section>