<section class="sidebar">
   <section class="welcome-box">
     <img src="/images/user.png">
     <p class="welcome-text">Welcome, Admin!</p>
   </section>
   
   <div class="list-group sidebar-links">
     <a href="/device" class="list-group-item button-link">
       <img class="link-icon" src="/images/device.png">
       <span class="link-text">Devices</span>
     </a>
     <a href="/script" class="list-group-item button-link">
       <img class="link-icon" src="/images/script.png">
       <span class="link-text">Scripts</span>
     </a>
   </div>
</section>