body {
  font-family: 'Lato', sans-serif;
  font-size: 15px;
}

.login-page {
  background-color: rgb(29, 29, 29);
}

.navbar-default {
  background-color: #3F8EC0 !important;
}

.left-side {
  position: absolute;
  width: 220px;
  min-height: 100%;
  display: block;
  background-color: #EFEFEF;
}

.btn-action {
  background-color: #509FD0;
  display: inline-block;
  border: none;
}

.sidebar {
  margin-bottom: 5px;
}

.right-side {
  margin-left: 220px;
}
