.login {
  background-color: #EFEFEF;
  width: 370px;
  margin-top: 14%;
  margin-left: auto;
  margin-right: auto;
  height: 360px;

  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 0px solid #000000;

  .header {
    background-color: #3F8EC0;
    height: 65px;

    border-radius: 10px 10px 0px 0px;
    -moz-border-radius: 10px 10px 0px 0px;
    -webkit-border-radius: 10px 10px 0px 0px;
    border: 0px solid #000000;
  }

  .header-text {
    color: white;
    font-weight: bold;
    font-family: 'Kaushan Script';
    position: relative;
    left: 102px;
    top: 19px;
    font-size: 19px;
  }
  
  .login-error {
    color: red;
    height: 40px;
    //background: rgba(255,0,0,0.1);
    padding: 15px 35px;
    margin-bottom: 15px;
  }

  .sign-up-message {
    margin-top: 20px;
  }

  form {
    width: 300px;
    margin: auto;

    button {
      width: 300px;
    }
  }

}

.center-align {
  margin-left: auto;
  margin-right: auto;
  display: inherit;
}